{% extends 'base.html' %}


{% block content %}

<style type="text/css">
    body {
        background-color: #fce4ec; 
        font-family: 'Arial', sans-serif;
    }

    .container {
        max-width: 600px;
        margin: auto;
        background-color: #ffffff; 
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 2rem;
    }

    .container p {
        color: #880e4f; 
        font-weight: bold;
        text-align: center;
    }

    .container a {
        color: #ad1457; 
        text-decoration: none;
        font-weight: bold;
        display: block;
        text-align: center;
        margin-top: 10px;
    }

    .container a:hover {
        color: #880e4f; 
        text-decoration: underline;
    }
</style>

<div class="container">
	<div class="d-flex flex-column">
		<p class="m-auto">Your password has been reset. You may go ahead and <a href="{% url 'login' %}">sign in</a> now.</p>
	</div>
</div>

{% endblock %}