{% extends 'base.html' %}

{% block content %}
<style type="text/css">
  body {
      background-color: #fce4ec; /* Fundal roz pal */
      font-family: 'Arial', sans-serif;
  }

  .form-signin {
      max-width: 400px;
      padding: 2rem;
      margin: auto;
      background-color: #ffffff; /* Alb pentru container */
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .form-signin .form-floating:focus-within {
      z-index: 2;
  }

  .form-signin input[type="password"] {
      margin-bottom: 10px;
      border-radius: 5px;
      border: 1px solid #f8bbd0; 
  }

  .h1, .h3 {
      text-align: center;
      color: #ad1457; 
      font-weight: bold;
  }

  .form-floating label {
      color: #880e4f; 
      font-weight: bold;
  }

  .form-control {
      margin-bottom: 15px;
  }

  .btn-primary {
      background-color: #ad1457; 
      border-color: #ad1457;
      padding: 10px 20px;
      font-size: 16px;
      border-radius: 5px;
  }

  .btn-primary:hover {
      background-color: #880e4f; 
      border-color: #880e4f;
  }

  .error {
      color: red;
      font-weight: bold;
  }
</style>


<form method="POST" class="form-signin">{% csrf_token %}
  <h1 class="h3 mb-3 font-weight-normal">Change password</h1>
    <input name="old_password" class="form-control" placeholder="Old password" type="password" id="id_old_password" required="true">
    <input name="new_password1" class="form-control" placeholder="New password" type="password" id="id_new_password1" required="true">
    <input name="new_password2" class="form-control" placeholder="Confirm password" type="password" id="id_new_password2" required="true">

    {% for field in form %}
      {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
      {% endfor %}
    {% endfor %}

  <button class="btn btn-lg btn-primary btn-block center-button" type="submit">Update</button>  
</form>



{% endblock %}