{% extends 'base.html' %}


{% block content %}

<style type="text/css">
  body {
      background-color: #fce4ec; 
      font-family: 'Arial', sans-serif;
  }

  .form-signin {
      max-width: 400px;
      padding: 2rem;
      margin: auto;
      background-color: #ffffff; 
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .form-signin .form-floating:focus-within {
      z-index: 2;
  }

  .form-signin input[type="email"] {
      margin-bottom: 10px;
      border-radius: 5px;
      border: 1px solid #f8bbd0; 
  }

  .h1, .h3 {
      text-align: center;
      color: #ad1457; 
      font-weight: bold;
  }

  .form-floating label {
      color: #880e4f; 
      font-weight: bold;
  }

  .form-control {
      margin-bottom: 15px;
  }

  .btn-primary {
      background-color: #ad1457; 
      border-color: #ad1457;
      padding: 10px 20px;
      font-size: 16px;
      border-radius: 5px;
  }

  .btn-primary:hover {
      background-color: #880e4f; 
      border-color: #880e4f;
  }

  .form-check-label {
      color: #880e4f; 
  }

  .reset-password {
      text-align: center;
      margin-top: 10px;
  }

  .reset-password a {
      color: #ad1457; 
      text-decoration: none;
      font-weight: bold;
  }

  .reset-password a:hover {
      color: #880e4f; 
      text-decoration: underline;
  }

  .error {
      color: red;
      font-weight: bold;
  }
</style>


<form method="POST" class="form-signin">{% csrf_token %}
	<h1 class="h3 mb-3 font-weight-normal">Reset password</h1>
    <input name="email" class="form-control" placeholder="Email address" type="email" id="id_email" required="true">
	<button class="btn btn-lg btn-primary btn-block" type="submit">Send reset email</button>  
</form>



{% endblock %}