{% extends 'base.html' %}

{% block content %}

<style type="text/css">
  body {
      background-color: #fce4ec; 
      font-family: 'Arial', sans-serif;
  }

  .form-signin {
      max-width: 400px;
      padding: 2rem;
      margin: auto;
      background-color: #ffffff; 
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .form-signin .form-floating:focus-within {
      z-index: 2;
  }

  .form-signin input[type="email"],
  .form-signin input[type="text"] {
      margin-bottom: 10px;
      border-radius: 5px;
      border: 1px solid #f8bbd0; 
  }

  .h1, .h3 {
      text-align: center;
      color: #ad1457; 
      font-weight: bold;
  }

  .form-floating label {
      color: #880e4f; 
      font-weight: bold;
  }

  .form-control {
      margin-bottom: 15px;
  }

  .btn-primary {
      background-color: #ad1457; 
      border-color: #ad1457;
      padding: 10px 20px;
      font-size: 16px;
      border-radius: 5px;
  }

  .btn-primary:hover {
      background-color: #880e4f; 
      border-color: #880e4f;
  }

  .error {
      color: red;
      font-weight: bold;
  }

  .success {
      color: green;
      font-weight: bold;
      text-align: center;
  }

  .center-button {
      text-align: center;
  }

  .link {
      color: #ad1457; 
      text-decoration: none;
      font-weight: bold;
  }

  .link:hover {
      color: #880e4f; 
      text-decoration: underline;
  }
</style>




<form class="form-signin w-100 m-auto" method = "post"> {% csrf_token %}
    <form>
      
      <h1 class="h3 mb-3 fw-normal">Account</h1>
  
      <div class="form-floating">
        <input type="email" name = "email" class="form-control" id="inputEmail" placeholder="Email address" required autofocus value = "{{ account_form.initial.email }}">
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
        <input type="text" name = "username" class="form-control" id="inputUsername" placeholder="Username" required value = "{{ account_form.initial.username }}">
        <label for="inputUsername">Username</label>
      </div>


        {% for field in login_form %}
            <p>
                {% for error in field.errors %}
                    <p style = "color: red;">
                        {{ error }}
                    </p>
                {% endfor %}
            </p>
        

        {% endfor %}

        {% if login_form.non_field_errors %}
            <div style = "color:red;">
                <p>
                    {{login_form.non_field_errors}}
                </p>
            </div>
        {% endif %}


        {% if success_message %}
            <p style = "color:green; text-align: center;">
                {{ success_message }}
            </p>
        {% endif %}
            <br>

      <button class="btn btn-primary w-100 py-2" type="submit">Save changes</button>
    </form>
</form>


<div class = "d-flex flex-column">
    <a class ="m-auto" href = "{% url 'password_change' %} "> Change password</a>

</div>
{% endblock content %}